@import url('general.css');

body {
    display: flex;
    justify-content: center;
    align-items: center;
  font-family: 'Montserrat', sans-serif;

}

section {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #ffc107;
    border-radius: 10px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 2rem;
    color: #444;
}

label {
    color: #444;
}

input {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}

input:focus {
    outline: none;
}

button {
    margin-top: 20px;
    align-self: center;
}

/* Responsive en móviles */
@media (max-width: 720px) {
    section {
        flex-direction: column;
    }
    form {
        padding: 1.5rem;
    }

    h1 {
        font-size: 1.3rem;
    }
}
